{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types de meuble</title>
{% endblock %}

{% block body %}
    <h3>Déclinaison et/ou type de meuble (catégorie)</h3>
    <a class="btn btn-outline-success" href="/admin/type-meuble/add">ajouter un type de meuble</a>
    <br><br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>designation</th>
            <th>(id_type_meuble)</th>
            <th>nombre de meubles</th>
            <th>opération</th>
        </tr>
        </thead>
        <tbody>
        {% if types_meuble | length >= 1 %}
            {% for ligne in types_meuble %}
                <tr>
                    <td>{{ ligne.libelle }}</td>
                    <td>{{ ligne.id_type_meuble }}</td>
                    <td><span style="color: red">{{ ligne.nbr_meubles }}</span></td>
                    <td>
                        <a class="btn btn-outline-danger"
                           href="/admin/type-meuble/edit?id_type_meuble={{ ligne.id_type_meuble }}">editer</a>&nbsp;
                        <a class="btn btn-outline-warning"
                           href="/admin/type-meuble/delete?id_type_meuble={{ ligne.id_type_meuble }}">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    pas de type de meuble
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
